# PostgreSQL connection string
DATABASE_URL="postgresql://user:password@localhost:5432/innovation_platform"

# NextAuth
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# UploadThing
UPLOADTHING_TOKEN=""
